<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
<body>

<p th:text="${person.getName() + ', ' + person.getYear()}">VALUE</p>

<div th:if="${!books.isEmpty()}">
    <hr/>
    <b>Книги:</b>
</div>
<div th:if="${!books.isEmpty()}" th:each="book : ${books}">
    <a style="color: red" th:if="${book.isDelay()}" th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">VALUE</a>
    <a th:if="${!book.isDelay()}" th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">VALUE</a>
</div>
<div th:if="${books.isEmpty()}">Человек пока не взял ни одной книги</div>

<hr/>

<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Редактировать"/>
</form>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>